# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
.env

# Data / Notebooks / Caches
data/
data_raw/
raw/
*.npy
*.pkl
*.faiss
*.ipynb
*.ipynb_checkpoints/
*.pdf
*.pptx
*.docx
*.zip
logs/
*.log

# Git / OS
.git/
.gitignore
.DS_Store

# Node/npm (if any)
node_modules/

# Project-specific
embeddings.npy
id_index.json
